# http://editorconfig.org
root = true

[*]
# 파일 끝 개행문자 추가
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true


[*.{kt,kts}]
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
# 후행쉼표 허용
ij_kotlin_allow_trailing_comma_on_call_site = true
ij_kotlin_allow_trailing_comma = true
